<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" name="VisualiData" packages="">
    <appenders>
        <File name="MyFile" fileName="logs/app.log">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>
    </appenders>
    <loggers>
        <root level="trace">
            <appender-ref ref="MyFile"/>
        </root>
    </loggers>
</configuration>